@model TimeOff.Models.Realizador

@{
    ViewBag.Title = "Details";
}

@*Vai buscar o css*@
@section Styles {

    @Styles.Render("~/Content/TimeOff.css")
}
<style>

    body {
        background-color: beige;
    }
</style>

<div id="main">
    <div style="border:solid;border-color:black;">
        @*Fotografia do Realizador*@
        <img src="~/imagensRealizador/@Model.Id@Html.DisplayFor(model => model.ImagemRealizador)" width="285" height="413" />
    </div>
    <div>
        @*Nome do Realizador*@
        <div class="nome">@Html.DisplayFor(model => model.NomeRealizador)</div>
        @*Ano de Nascimento*@
        <div style="margin-left: 150px;">
            <h3 style="font-family:Arial; font-weight:bold; color:black;">@Html.DisplayFor(model => model.DataNasc)</h3>
        </div>
    </div>
</div>


@*Biografia do Realizador*@
<div class="sinopse">
    <h3 style="font-family:Arial; font-weight:bold; color:darkred"> Sinopse</h3>
    @Html.DisplayFor(model => model.Biografia)
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
