@model IEnumerable<TimeOff.Models.Realizador>

@{
    ViewBag.Title = "Index";
}
@*Vai buscar o css*@
@section Styles {

    @Styles.Render("~/Content/TimeOff.css")
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar um novo Realizador", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeRealizador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNasc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Biografia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagemRealizador)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeRealizador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNasc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Biografia)
            </td>
            <td>
                <a href="~/imagens/@item.ImagemRealizador" target="_blank">
                    <img src="~/imagens/@item.ImagemRealizador" width="150" height="200" />
                </a>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
