@model IEnumerable<TimeOff.Models.Realizador>

@{
    ViewBag.Title = "Index";
}
@*Vai buscar o css*@
@section Styles {

    @Styles.Render("~/Content/TimeOff.css")
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar um novo Realizador", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label class="control-label col-md-2"> Nome:</label>

        </th>
        <th>
            <label class="control-label col-md-2"> Data de Nascimento:</label>
        </th>
        <th>
            <label class="control-label col-md-2"> Biografia:</label>
        </th>
        <th>
            <label class="control-label col-md-2"> Imagens do Realizador:</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeRealizador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNasc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Biografia)
            </td>
            <td>
                <a href="~/ImagensRealizadores/@item.Id@item.ImagemRealizador" target="_blank">
                    <img src="~/ImagensRealizadores/@item.Id@item.ImagemRealizador" width="150" height="200" />
                </a>
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                @Html.ActionLink("Apagar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
