<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)


</head>
<body>
    <div style="background-color:beige;">
        <div class="container">

            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")@*Login e logout*@
                <div style="text-align:left; padding-top:5px;">
                    <h4>@Html.ActionLink("Sobre", "Sobre", "Filmes", new { area = "" }, new { @class = "sobre" })</h4> @*pagina com informações sobre mim*@
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">

        <div class="logo">@Html.ActionLink("TimeOff", "Index", "Filmes", new { area = "" }, new { @class = "logo" })</div> @*Logo e voltar para o inico*@
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>$("select").chosen();</script>
</body>
</html>
