@{
    ViewBag.Title = "Home Page";

}
@*Vai buscar o css*@
<link rel="stylesheet" href="~/Content/TimeOff.css" />

<div class="logo">TimeOff</div>

<table style="width:100%; margin-top:20px">
    <tr>
        <th>
            <img src="~/Imagens/FantasticBeast.jpg" width="380" height="550" />
            
            <div class="texto">
                <h2>
                    @Html.ActionLink("Fantastic Beast", "Details", "filmes", new { id = "2" }, null)
                </h2> 
            </div>
        </th>
        <th>
            <img src="~/Imagens/logan.jpg" width="380" height="550" />
            <div class="texto">
                <h2>
                    @Html.ActionLink("Logan", "Details", "filmes", new { id = "3" }, null)
                </h2>
            </div>
        <th>
            <img src="~/Imagens/mebeforeyou.jpg" width="380" height="550" />
            <div class="texto">
                <h2>
                    @Html.ActionLink("Me Before You", "Details", "filmes", new { id = "5" }, null)
                </h2>
            </div>
        </th>
    </tr>
    <tr>
        <th>
            <img src="~/Imagens/mechanic.jpg" width="380" height="550" />

            <div class="texto">
                <h2>
                    @Html.ActionLink("Mechanic", "Details", "filmes", new { id = "4" }, null)
                </h2>
            </div>
        </th>
        <th>
            <img src="~/Imagens/suicideSquad.jpg" width="380" height="550" />
            <div class="texto">
                <h2>
                    @Html.ActionLink("Suicide Squad", "Details", "filmes", new { id = "1" }, null)
                </h2>
            </div>

            </div>
        </th>
    </tr>
</table>
