@model IEnumerable<TimeOff.Models.Filme>

@{
    ViewBag.Title = "Index";
}
@*Vai buscar o css*@
@section Styles {

    @Styles.Render("~/Content/TimeOff.css")
}
<style>
    body {
        background-color: beige;
    }
</style>

<div class="prim">
    @foreach (var item in Model)
    {
        <div class="seg">
            <div class="texto">
                <h2>
                    @Html.ActionLink(item.Titulo, "Details", "filmes", new { id = item.Id }, null)
                </h2>
            </div>
            <img src="~/Imagens/@item.Id@item.ImagensFilme" style="width: 100%; min-height: 100%; height: auto; margin-top:-65px;" />
        </div>
    }
</div>

@*Só aparece para o Admin da página*@
<p>
    @if (User.IsInRole("Admin"))
    {
        //Botões uteis para o Admin
        @Html.ActionLink("Criar Novo Filme", "Create", null, new { @class = "btn btn-default btn-large" })
        @Html.ActionLink("Criar Novo Realizador", "Create", "Realizadors", null, new { @class = "btn btn-default btn-large" })
        @Html.ActionLink("Criar Novo Ator", "Create", "Ators", null, new { @class = "btn btn-default btn-large" })
        @Html.ActionLink("Criar Nova Categoria", "Create", "Categorias", null, new { @class = "btn btn-default btn-large" })
        <br />
        @Html.ActionLink("Categorias", "Index", "Categorias", null, new { @class = "btn btn-default btn-large" })
        @Html.ActionLink("Ator", "Index", "Ators", null, new { @class = "btn btn-default btn-large" })
        @Html.ActionLink("Realizadores", "Index", "Realizadors", null, new { @class = "btn btn-default btn-large" })
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="id" value="item.id" />
        }
    }
</p>



